body{
    background: rgb(255, 136, 0);
   
       margin: 10px;
    color: white;
}


a:visited, a:link{
color: dodgerblue;
}
a:hover, a:focus{
    color: rgb(184, 18, 46);
}
::selection{
    background-color: blueviolet;
}
dt:first-child{
    font-weight: bold;
    font-size: large;
}
video{
    
    height: 300px;
    width: 300px;
    
    object-fit: cover;
}
img{
    width: 200px;
    height: 200px;    
    border-radius: 50%;
    display: block;
  margin-left: auto;
  margin-right: auto;
    object-fit: cover;
}
p{
    text-align: center;
    
}

#second{
    text-align: center;
    
}

#projectsSection{

    text-align: center;
}
