body{
       background-color: wheat;
}

video{

    height: 300px;
    width: 300px;
    margin-left: 35%;
    margin-right: 35%;
    object-fit: cover;
}
img{
    width: 200px;
    height: 200px;    
    border-radius: 50%;
    object-fit: cover;
}
p{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

#second{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

#projectsSection{

    text-align: center;
}
