body {}

.boxes {

    border: 3px solid gray;
    height: 100vh;

}

.box {
    width: 5rem;
    height: 6rem;
    float: left;
}

.box-one {
    background: gold;

}

.box-two {
    background: tomato;
    position: relative;

}

.box-three {
    background: dodgerblue;
}