*,
*::before,
*::after {

    box-sizing: border-box;
}

.main {
    width: 200px;
    height: 200px;
    background-color: gold;
    padding: 20px;
    border: 10px solid magenta;
    display: inline-block;

}

.main::before {
    content: 'Hello';
}